html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#uploader {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: white;
    border: 1px solid grey;
    width: auto;
    height: auto;
    padding: 15px;
    color: #555;
    font-family: Roboto, Verdana, serif;
    font-size: 12px;
}

#uploader h1 {
    margin-top: 0;
    font-size: 16px;
}

#uploader a {
    text-decoration: none;
    margin: 2px 0;
    color: brown;
}

#uploader .file {
    margin: 8px 0;
}

#uploader input[type="submit"] {
    margin-top: 10px;
    margin-left: 0;
}

#uploader input {
    font-size: 12px;
    margin: 2px 5px;
}

#uploader input.lat, #uploader input.lon {
    width: 40px;
}

#uploader input.color {
    width: 70px;
}

#uploader .setting {
    margin: 8px 0 2px 0;
}

#uploader .setting + .setting {
    margin-top: 2px;
}

#uploader .setting input[type="checkbox"] {
    margin-left: 1px;
}

#uploader .setting input[name="velocity_filter"], #uploader .setting input[name="delimiter"] {
    width: 50px;
}

#uploader .setting label {
    margin: 0 5px 0 0;
}

#paths .warning {
    color: darkred;
    margin: 15px 0;
    display: block;
}

#paths .path {
    margin: 4px 0;
}